/* Custom color theme properties */
:root {  
  --f7-theme-color-rgb: 225, 114, 28;
  --color-primary:#e1721c;
  --color-white:#fff;
  --border-color:#D9D9D9;
  --border-color-light:#F0F0F0;
  --f7-navbar-border-color:#E4E5E6;
  --f7-bars-border-color:#E4E5E6;
  --text-color:#262626;
  --f7-button-text-color:var(--text-color);
  --text-color-sub:#8C8C8C;
  --f7-theme-color: var(--color-primary);
  --f7-theme-color-shade: #bd6017;
  --f7-theme-color-tint: #e7883f;
  --f7-searchbar-input-bg-color:#F5F5F5;
  --color-black:#262626;  
  --color-success:#73D13D;
  --color-warning:#FFC53D;
  --color-danger:#ED1C24;  
  --color-processing:#40A9FF;
  --bg-default:#FFF7EB;
  --bg-success:#F6FFED;
  --bg-warning:#FFFBE6;
  --bg-danger:#FDE4E5;
  --bg-danger-light:#FFF2E8;
  --bg-processing:#E6F7FF;
  --color-dark:#BA520D;  
  --color-disabled:#F5F5F5;
  --f7-badge-bg-color: #FAFAFA;
  --color-bg-default:#fff;
  --f7-searchbar-input-border-radius:100px;
  --f7-searchbar-input-height:40px;
  --f7-searchbar-input-font-size:16px;
  --f7-searchbar-input-text-color:var(var(--text-color))
  --f7-text-color:var(--text-color);  
  --f7-white-bg-color: var(--color-white);
  --f7-block-title-text-color:var(--text-color);
  --f7-tabbar-link-inactive-color:var(--text-color-sub);
  --f7-checkbox-inactive-color: var(--border-color);
  --f7-radio-border-width: 1.5px;
  --f7-radio-inactive-color: var(--border-color);
  --f7-list-item-title-text-color:var(--text-color);
  --f7-label-text-color:var(--text-color);
  --f7-placeholder-color:var(--border-color);
  --f7-bars-bg-color: var(--color-white);
  --f7-toolbar-bg-color: var(--color-white);
  --f7-button-border-color: var(--border-color);
  --color-default:var(--color-primary); 
  --f7-color-subtitle:var(--text-color-sub);
  --f7-list-item-text-text-color:var(--text-color-sub);
  --f7-list-item-subtitle-text-color:var(--text-color-sub);  
  --f7-badge-text-color:var(--text-color);
  --f7-badge-size:32px;
  --f7-badge-padding:0 8px;
  --f7-theme-font-size: 16px;
  --f7-list-font-size:var(--f7-theme-font-size);
  --f7-font-family: "Be Vietnam Pro", "Arial", sans-serif;
  --f7-bars-translucent-opacity: 0.95;
  --f7-label-font-size:14px;
  --f7-label-font-weight:500;
  --f7-card-header-font-size:16px;
  --f7-block-title-font-weight:600;
  --f7-block-title-font-size:18px;
  --f7-list-item-title-font-size:16px;  
  --f7-input-height:40px;
  --f7-toggle-height:20px;
  --f7-input-padding-left:12px;
  --f7-input-padding-right:12px;
  --f7-list-item-padding-vertical:12px;
  --f7-list-item-padding-vertical:12px;
  --f7-card-header-padding-vertical:12px;
  --f7-list-item-text-font-size:12px;
  --f7-navbar-subtitle-font-size:12px;
  --f7-list-item-subtitle-font-size:12px;
  --f7-button-border-radius: 8px;
  --f7-button-text-transform:inherit;
  --f7-button-small-text-transform:inherit;
  --f7-button-font-weight:400;
  --f7-button-small-font-weight:400;
  --f7-button-height: 40px;
  --f7-button-outline-border-width:1px;
  --f7-button-small-outline-border-width:1px;
  --f7-checkbox-size:18px;
  --f7-border-radius-4: 4px;
  --f7-border-radius-8: 8px;
  --f7-card-border-radius:8px;
  --f7-border-radius-12: 12px;
  --f7-checkbox-border-radius: 4px;
  --f7-checkbox-border-radius: 4px;
  --f7-checkbox-border-width: 1.5px;
  --f7-tabbar-label-font-size:12px;
  --f7-tabbar-label-font-weight:400;
  --f7-radio-border-width: 1.5px;
  --f7-toolbar-height:56px;
  --f7-tabbar-labels-height:56px;
  --f7-button-raised-box-shadow:1px 2px 4px rgba(0,0,0,0.08);
  --margin-16:16px;
  --f7-size-0: 0;
  --f7-size-5: 5px;
  --f7-size-8: 8px;
  --f7-size-12: 12px;
  --f7-size-14: 14px;
  --f7-size-16: 16px;
  --f7-size-20: 20px;
  --f7-size-24: 24px;
  --f7-size-32: 32px;
  --f7-size-40: 40px;
  --f7-size-56: 56px;
  --f7-regula-font-weight: 400;
  --f7-medium-font-weight: 500;
  --f7-semibold-font-weight: 600;
  --f7-bold-font-weight: 700;
  --f7-list-margin-vertical:24px;
  --f7-list-media-item-title-font-weight:500;
  --f7-searchbar-in-page-content-input-border-radius:100px;
  --f7-searchbar-input-extra-padding-left:8px;
}
.ios {
  --f7-toggle-height: 32px;
  --f7-block-margin-vertical: 24px;
  --f7-navbar-height: 48px;
  --f7-toggle-border-color: var(--border-color);
  --f7-toggle-inactive-color: var(--color-white);
  --f7-page-bg-color: #FAFAFA;
  --f7-card-box-shadow: 0px 0 12px rgba(38, 38, 38, 0.04);
}